.cogton {
    width: 204px;
    height: 190px;
    margin: 0 auto;
    position: relative;
}

.cog,
.ton {
    /* background:url(images/result.png); */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.cog {
    margin: 13px 20px;
    width: 164px;
    height: 164px;

    -webkit-animation-name: spin-anti-clockwise;
    -moz-animation-name: spin-anti-clockwise;
    -ms-animation-name: spin-anti-clockwise;
    animation-name: spin-anti-clockwise;
    /* background-position: 0px 0px; */

    /* Timings */
    -webkit-animation-duration: 6000ms;
    -moz-animation-duration: 6000ms;
    -ms-animation-duration: 6000ms;
    animation-duration: 6000ms;
}
.ton {
    position: absolute;
        top:   50%;
        left: 50%;
    margin: -39px; /* margin: -59px -39px; if using sprite sheet*/
    width: 78px;
    height: 78px;

    -webkit-animation-name: spin-clockwise;
    -moz-animation-name: spin-clockwise;
    -ms-animation-name: spin-clockwise;
    animation-name: spin-clockwise;
    /* background-position: 0px -174px; */

    /* Timings */
    -webkit-animation-duration: 3000ms;
    -moz-animation-duration: 3000ms;
    -ms-animation-duration: 3000ms;
    animation-duration: 3000ms;
}

/* Clockwise */
@-ms-keyframes spin-clockwise {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin-clockwise {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin-clockwise {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin-clockwise {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

/* Anti Clockwise */
@-ms-keyframes spin-anti-clockwise {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin-anti-clockwise {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin-anti-clockwise {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin-anti-clockwise {
    from { transform:rotate(360deg); }
    to { transform:rotate(0deg); }
}