/* Generic Styles */
body { 
	font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
	position: relative;
	text-align: center;
}
canvas {
	margin: 0 auto;
	z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
a,
h1,
a:hover {
	color:#ff5400!important;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#outer { 
	width: 100%; 
	margin: 0; 
	position:relative;
	min-width: 320px;
}
#inner {
	position: relative;
	margin-top: 30px;
    width: 320px;
    margin: 40px auto 0;
}
p { 
	padding: .4em 0;
 	line-height: 1.5em;
}